#app {
    .section-title {
        font-weight: 600;
        color: #797d7f;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .project {
        margin-left: 7.5%;
        margin-bottom: 25px;
    }

    .project img {
        width: 300px;
    }

    .project-title {
        font-size: 24px;
        font-weight: 600;
        color: #1B1919;
    }

    .project-details {
        color: #585858;
        width: 300px;
        font-size: 14px;
    }

    .project a:link, .project a:visited {
        color: #b2b2fa;
    }

    @media only screen and (min-width: 395px) {
        .project {
            margin-left: 12.5%;
        }
    }


    @media only screen and (min-width: 600px) {
        .project {
            margin-bottom: 60px;
        }

        .project img {
            width: 400px;
        }

        .project-title {
            font-size: 28px;
        }

        .project-details {
            font-size: 16px;
        }
    }

    @media only screen and (min-width: 800px) {
        .projects.section {
            margin-left: 0%;
        }

        .project {
            margin-left: 10%;
            display: flex;
            align-items: center;
        }

        .project img {
            width: 340px;
        }

        .project-details {
            margin-left: 40px;
        }
    }

    @media only screen and (min-width: 1000px) {
        .projects .section-title {
            margin-left: 10%;
        }

        .projects.section {
            margin-left: 0%;
        }

        .section-title {
            font-size: 18px;
        }

        .project {
            margin-left: 10%;
        }

        .project img {
            width: 400px;
        }
        
        .project-title {
            font-size: 32px;
        }

        .project-details {
            font-size: 18px;
            margin-left: 50px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .project img {
            width: 500px;
        }
    }
}