/* Importing fonts from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#app {
  font-family: 'Sarabun', sans-serif;
}

.container {
  margin-bottom: 10%;
}

@import './Header';
@import './Introduction';
@import './Projects';
@import './Experience';
@import './Skills';
@import './Footer';